label {
  display: block;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 5px;
}
input {
  width: 95%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid rgb(0, 35, 190);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
}
form {
  margin: auto;
  width: 70%;
  border: 1px solid #e5e5e5;
  margin-top: 30px;
  padding: 15px;
}
h2 {
  margin: 0px;
  padding: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.app-header {
  background-color: rgb(41, 41, 97);
  text-align: center;
  color: white;
}
#cherry-pick-desc, #options-desc {
  display: none;
  margin: auto;
  width: 70%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #e5e5e5;
  background-color: #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  word-break: break-all;
}
.copy-button{
  border: none;
  padding: 0;
  background: none;
}
.cherrypick-error-desc{
  max-height: 150px;
  word-break: break-all;
  overflow-y: scroll;
}
.card{
  margin-top: 8px;
  margin-bottom: 8px;
}
